<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Hugh Han">

  <title><%= title %></title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/grayscale.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body ng-app="portfolio" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<section ng-view class="main-section"></section>

  <h1><%= title %></h1>
  <a href="/">Home</a>
  <a href="/photos">Photos</a>
  <a href="/replies">Leave a reply</a>
  <br><br>

  <% photos.forEach(function(photo) { %>
  	<img class="grid" src="<%- "img/" + photo.filename + photo.extension %>"/><br>
  	<ul>
  		<li><%= photo.name %></li>
  		<li><%= photo.description %></li>
  	</ul>
  <% }); %>

  <div id="map"></div>

  <footer>
      <div class="container text-center">
          <p>Copyright &copy; Hugh Han 2015</p>
      </div>
  </footer>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/js/grayscale.js"></script>

  <script type="text/javascript" src="/js/angular/angular.js"></script>
  <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

  <script type="text/javascript" src="/photos/photos.client.module.js"></script>
  <script type="text/javascript" src="/photos/controllers/photos.client.controller.js"></script>
  <script type="text/javascript" src="/photos/services/photos.client.service.js"></script>
  <script type="text/javascript" src="/photos/config/photos.client.routes.js"></script>

  <script type="text/javascript" src="/replies/replies.client.module.js"></script>
  <script type="text/javascript" src="/replies/controllers/replies.client.controller.js"></script>
  <script type="text/javascript" src="/replies/services/replies.client.service.js"></script>
  <script type="text/javascript" src="/replies/config/replies.client.routes.js"></script>

  <script type="text/javascript" src="/example/example.client.module.js"></script>
  <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
  <script type="text/javascript" src="/example/config/example.client.routes.js"></script>

  <script type="text/javascript" src="/application.js"></script>
</body>
</html>
