<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="/js/angular/angular.js"></script>
  <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <% photos.forEach(function(photo) { %>
  	<img class="grid" src="<%- "img/" + photo.filename + photo.extension %>"/><br>
  	<ul>
  		<li><%= photo.name %></li>
  		<li><%= photo.description %></li>
  	</ul>
  <% }); %>
</body>
</html>
